body {
    background-color:#b2c2c2;
    max-width: 1100 px;
    margin: 0; 
    padding-top: 0;
}
header{
    margin: 0; 
    padding-top: 5px;
    background-color: #ffe6e6;
    height: 110px;
    padding-left: 5px;
    padding-right: 5px;
}
#nav{
    float: left;
    padding-left: 10px;
    padding-top: 0px;
    margin: 0;
    font-size: 25px;
}
select{
    float: right;
    width: 200px;
    height: 30px;
    font-size: 20px;
}

h1{
    padding-top: 10px;
    padding-right: 20px;
    font-size: 40px;
    text-shadow: 3px 2px #b2c2c2;
    text-align: right;
}
main nav{
    padding-top: 50px;
    padding-left: 50px;
    padding-right: 40px;
    display:flex;
    justify-content:center;
}
#main{
    background-color:aliceblue;
    padding: 10px;
    margin:50px;
}
.button a{
    float: right;
    background: #deefff;
    border-radius: 10px;
    border: 1px solid #333; 
    display: inline-block;
    font-family: 'Indie Flower', cursive;
    font-family: 'Lobster', cursive;
    font-size: 27px;
    margin: 0;
    padding: 10px;
    width: 400px;
    height:30px;
    background-color: #f1f1f1;
    display: block;
    color: #000;
    text-decoration: none;
}
.button a:hover {
    box-shadow: 0 0 5px rgba(0,0,0,0.3); 
    background: linear-gradient(to bottom, #fcfff4, #e9e9ce); 
    background-color: #555;
    color: white;
}
.home{
    float: left;
    margin: 0;
    padding-top: 50px;
    padding-left: 60px;
    padding-right: 0;
     
}
footer{
    margin: 0; 
    padding-top: 30px;
    background-color: #ffe6e6;
    height: 110px;
    text-align: center;
    
}
.paginator{
    font-size: 30px;
    text-align: center;
}
footer a:hover, footer a:active {
    font-size: 130%;
}